// Pagination

.pagination {
  a {
    @include padding($small-spacing / 1.5 $small-spacing);
    @include hover-focus {
      background-color: darken($white, 4);
    }

    border-radius: $base-border-radius;
    color: $dark-gray;
    font-weight: $font-semi-bold;

    &:hover {
      background-color: darken($white, 4);
    }

    &.active {
      background-color: $action-color;
      color: $white;
    }
  }
}
