// Alerts
.alert {
  @include padding(--spacing / 1.5);
  border-radius: var(--base-border-radius);
  color: var(--white);
  font-weight: var(--font-semi-bold);
  margin-bottom: calc(var(--spacing) / 2);
  text-align: center;
  width: 100%;
  z-index: 99;  

  &.fixed {
    @include position(fixed, null 0 0 0);

    border-radius: 0;
  }

  // Alerts colors
  @each $name, $values in $colors {
    $background-color: nth($values, 1);
    $color: nth($values, 2);

    &.#{$name} {
      background-color: $background-color;
      color: $color;
    }
  }
}

.alert-close {
  cursor: pointer;
  float: right;
  line-height: var(--base-line-height);
  margin-right: --spacing / 2;

  // Alert colors close icon

  @each $name, $values in $colors {
    $color: nth($values, 2);

    &.#{$name} {
      color: $color;
    }
  }
}
