// Cards

.card {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;

  background-clip: border-box;
  border: 1px solid $light-gray;
  border-radius: $base-border-radius;
  min-width: 0;
  position: relative;

  &:hover {
    box-shadow: 0 1rem 3rem rgba(189, 195, 199, 0.6);
  }
}

// Cards Colors

@each $name, $values in map-merge($grayscale-colors, $colors) {
  $background-color: nth($values, 1);
  $color: nth($values, 2);

  .card-#{$name} {
    background-color: $background-color;
    border: 1px solid shade($background-color, 10);
    border-radius: $base-border-radius;
    color: $color;

    .card-subtitle {
      color: rgba($color, 0.9);
    }

    a {
      color: $color;
    }
  }
}

.card-image {
  @include border-top-radius($base-border-radius - 1px);

  display: block;
  width: 100%;
}

.card-content {
  @include padding($base-spacing);
  flex: 1 1 auto;
}

.card-links {
  margin-top: $base-spacing;
}
