/* Utilities */

/* Floats */

.left {
  float: left;
}
.right {
  float: right;
}

/* Text Alignment */

.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-justify {
  text-align: justify !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Text Transform */

.text-lowercase {
  text-transform: lowercase !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}

/* Font weight and italics */

.font-light {
  font-weight: var(--font-light);
}
.font-regular {
  font-weight: var(--font-regular);
}
.font-medium {
  font-weight: var(--font-medium);
}
.font-semi-bold {
  font-weight: var(--font-semi-bold);
}
.font-bold {
  font-weight: var(--font-bold);
}
.font-extra-bold {
  font-weight: var(--font-extra-bold);
}
.font-italic {
  font-style: italic;
}

/* Text Colors */

.color-dark-gray {
  color: var(--dark-gray);
}
.color-medium-gray {
  color: var(--medium-gray);
}
.color-light-gray {
  color: var(--light-gray);
}

.color-gray {
  color: var(--gray);
}
.color-gray-10 {
  color: var(--gray-10);
}
.color-gray-20 {
  color: var(--gray-20);
}
.color-gray-30 {
  color: var(--gray-30);
}
.color-gray-40 {
  color: var(--gray-40);
}
.color-gray-50 {
  color: var(--gray-50);
}
.color-gray-70 {
  color: var(--gray-70);
}
.color-gray-80 {
  color: var(--gray-80);
}
.color-gray-90 {
  color: var(--gray-90);
}

/* Display */

.hidden {
  display: none;
}

.clearfix {
  clear: both;
}

/* Others */

.rounded {
  border-radius: var(--base-border-radius);
}

.circle {
  border-radius: 50%;
}
