// Utilities

// Floats

.left { float: left; }
.right { float: right; }

// Text Alignment

.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.text-justify { text-align: justify !important; }
.text-nowrap { white-space: nowrap !important; }
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;;
}

// Text Transform

.text-lowercase { text-transform: lowercase !important; }
.text-uppercase { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

// Font weight and italics

.font-light { font-weight: $font-light; }
.font-regular { font-weight: $font-regular; }
.font-medium { font-weight: $font-medium; }
.font-semi-bold { font-weight: $font-semi-bold; }
.font-bold { font-weight: $font-bold; }
.font-extra-bold { font-weight: $font-extra-bold; }
.font-italic { font-style: italic; }

// Text Colors

@each $color in map-merge($grayscale-colors, $colors) {
  $name: nth($color, 1);
  $color: nth($color, 2);

  .color-#{$name} {
    color: nth($color, 1);
  }
}

// Background Colors

@each $name, $values in map-merge($grayscale-colors, $colors) {
  $background-color: nth($values, 1);
  $color: nth($values, 2);

  .background-#{$name} {
    background-color: $background-color;
    color: $color;
  }
}

// Display

.hidden {
  display: none;
}

.clearfix {
  clear: both;
}

// Others

.rounded {
  border-radius: $base-border-radius;
}

.circle {
  border-radius: 50%;
}
