// Grids
$grid-gap: $base-spacing;

// Colors
$colors: (
  'blue': ($blue, $white),
  'green': ($green, $white),
  'red': ($red, $white),
  'orange': ($orange, $white),
  'purple': ($purple, $white),
  'sky-blue': ($sky-blue, $white),
  'yellow': ($yellow, $dark-gray),
  'brown': ($brown, $white),
  'gray': ($dark-gray, $white)
);

$grayscale-colors: (
  'dark-gray': ($dark-gray, $white),
  'medium-gray': ($medium-gray, $white),
  'light-gray': ($light-gray, $dark-gray)
);

$all-colors: map-merge($grayscale-colors, $colors);

$semantic-colors: ('primary': ($action-color, $white));

$all-semantic-colors: map-merge($all-colors, $semantic-colors);

// Social colors

$facebook-color: #36579d;
$google-color: #e5462c;
