/*
* Badges
*/

.badge {
  padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);

  background-color: color(var(--white), shade(5%));
  border-radius: var(--base-border-radius);
  display: inline-block;
  font-size: var(--badge-font-size);
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;

  &:empty {
    display: none;
  }

  /* Colors */
  &.blue {
    background-color: var(--blue);
    color: var(--white);
  }
  &.green {
    background-color: var(--green);
    color: var(--white);
  }
  &.red {
    background-color: var(--red);
    color: var(--white);
  }
  &.orange {
    background-color: var(--orange);
    color: var(--white);
  }
  &.purple {
    background-color: var(--purple);
    color: var(--white);
  }
  &.sky-blue {
    background-color: var(--sky-blue);
    color: var(--white);
  }
  &.yellow {
    background-color: var(--yellow);
    color: var(--dark-gray);
  }
  &.brown {
    background-color: var(--brown);
    color: var(--white);
  }
  &.gray {
    background-color: var(--gray);
    color: var(--white);
  }
  &.dark-gray {
    background-color: var(--dark-gray);
    color: var(--white);
  }
  &.medium-gray {
    background-color: var(--medium-gray);
    color: var(--white);
  }
  &.light-gray {
    background-color: var(--light-gray);
    color: var(--dark-gray);
  }
}
