/*
* Breadcrumb
*/

.breadcrumbs {
  padding: calc(var(--spacing) / 2) 0;
  font-weight: var(--font-semi-bold);
  text-align: center;

  @media (--medium-screen) {
    display: block;
    text-align: left;
  }

  a {
    color: var(--medium-gray);

    &:last-child {
      color: var(--action-color);
      cursor: text;
    }

    &:not(:last-child) {
      &:hover {
        color: var(--action-color);
      }
    }

    &:not(:last-child)::after {
      padding: 0 calc(var(--spacing) / 2);

      color: var(--medium-gray);
      content: var(--breadcrumb-divider);
      font-family: var(--font-awesome-regular);
      vertical-align: bottom;
    }
  }
}
