/*
* Buttons
*/

:root {
  --b: {
    --primary: red;
    --seconday: yellow;
  }
}

.button {
  appearance: none;
  border-radius: var(--base-border-radius);
  cursor: pointer;
  display: inline-block;
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-weight: var(--font-semi-bold);
  line-height: 1;
  padding: calc(var(--spacing) / 2) var(--spacing);
  margin: 0;
  text-align: center;
  text-decoration: none;
  transition: background-color var(--base-duration) var(--base-timing);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  /* Base styling */
  @apply --primary-theme;

  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--secondary);

  &:hover {
    background-color: var(--primary-800);
    border-color: var(--primary-800);
    color: var(--secondary);
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(var(--primary), 0.5);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: var(--primary);
    }
  }

  /* Modifiers */
  &.block {
    display: block;
    width: 100%;
  }
  &.small {
    font-size: 0.9rem;
    padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
  }

  /* Outline */
  &.outline {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);

    &:hover {
      background-color: var(--primary);
      color: var(--secondary);
    }
  }

  /* Colors */
  &.blue {
    @apply --blue-theme;
  }
  &.green {
    @apply --green-theme;
  }
  &.red {
    @apply --red-theme;
  }
  &.orange {
    @apply --orange-theme;
  }
  &.purple {
    @apply --purple-theme;
  }
  &.sky-blue {
    @apply --sky-blue-theme;
  }
  &.yellow {
    @apply --yellow-theme;
  }
  &.brown {
    @apply --brown-theme;
  }
  &.white {
    @apply --white-theme;
  }
  &.black {
    @apply --black-theme;
  }
  &.dark-gray {
    @apply --dark-gray-theme;
  }
  &.medium-gray {
    @apply --medium-gray-theme;
  }
  &.light-gray {
    @apply --light-gray-theme;
  }
}
