#{$all-buttons},
.button {
  appearance: none;
  background-color: $action-color;
  border: 1px solid $action-color;
  border-radius: $base-border-radius;
  // color: contrast-switch($_button-background-color);
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 16px;
  font-weight: $font-semi-bold;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: shade($action-color, 12.5%);
    border-color: shade($action-color, 12.5%);
    color: $white;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba($action-color, .6);
    outline: 0;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;

    &:hover {
      background-color: $action-color;
    }
  }
}

// Buttons Colors
@each $name, $values in map-merge($grayscale-colors, $colors) {
  $background-color: nth($values, 1);
  $color: nth($values, 2);

  .button-#{$name} {
    background-color: $background-color;
    border: 1px solid $background-color;
    color: $color;

    &:hover {
      background-color: shade($background-color, 12.5%);
      border-color: shade($background-color, 12.5%);
      color: $color;
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba($background-color, .5);
      outline: 0;
    }
  }
}

// Custom buttons classes

#{$all-buttons},
.button {
  &.small {
    padding: $small-spacing / 2 $small-spacing;
  }

  &.outline {
    background-color: transparent;
    background-image: none;
    border: 1px solid $action-color;
    color: $action-color;

    &:hover {
      background-color: $action-color;
      color: $white;
    }

    // Outline colors

    @each $name, $values in map-merge($grayscale-colors, $colors) {
      $background-color: nth($values, 1);
      $color: nth($values, 2);

      &.button-#{$name} {
        border: 1px solid $background-color;
        color: $background-color;

        &:hover {
          background-color: $background-color;
          color: $color;
        }
      }
    }
  }
}
