// Fonts

@font-face {
  font-family: 'proximasoft';
  src: url('#{$font-path}/proximasoft/proximasoft-light-webfont.woff2') format('woff2'),
       url('#{$font-path}/proximasoft/proximasoft-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'proximasoft';
  src: url('#{$font-path}/proximasoft/proximasoft-regular-webfont.woff2') format('woff2'),
       url('#{$font-path}/proximasoft/proximasoft-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'proximasoft';
  src: url('#{$font-path}/proximasoft/proximasoft-medium-webfont.woff2') format('woff2'),
       url('#{$font-path}/proximasoft/proximasoft-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'proximasoft';
  src: url('#{$font-path}/proximasoft/proximasoft-semibold-webfont.woff2') format('woff2'),
       url('#{$font-path}/proximasoft/proximasoft-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'proximasoft';
  src: url('#{$font-path}/proximasoft/proximasoft-bold-webfont.woff2') format('woff2'),
       url('#{$font-path}/proximasoft/proximasoft-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'proximasoft';
  src: url('#{$font-path}/proximasoft/proximasoft-extrabold-webfont.woff2') format('woff2'),
       url('#{$font-path}/proximasoft/proximasoft-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
