form {
  .row,
  .row > div {
    margin-bottom: 0;
  }

  &.horizontal {
    label {
      display: inline-block;
    }
  }
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
}

input,
select,
textarea {
  display: block;
  font-family: $base-font-family;
  font-size: 16px;
}

#{$all-text-inputs},
select [multiple] {
  @include appearance(none);
  @include box-sizing(border-box);
  @include transition(border-color $base-duration $base-timing);

  background-color: $base-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  line-height: $base-line-height;
  margin-bottom: $small-spacing;
  padding: $base-spacing / 3;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $action-color;
    outline: none;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }

  &::placeholder {
    color: tint($base-font-color, 40%);
  }
}

textarea {
  resize: vertical;
}

[type='checkbox'],
[type='radio'] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type='file'] {
  margin-bottom: $small-spacing;
  width: 100%;
}

#{$all-buttons} {
  margin-bottom: $small-spacing * 1.5;
  margin-top: $small-spacing / 2;
}

select {
  @include box-sizing(border-box);
  @include transition(border-color $base-duration $base-timing);

  background-color: $base-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  height: 44px;
  margin-bottom: $small-spacing;
  width: 100%;

  &:focus {
    border-color: $action-color;
    outline: 0;
  }
}

.input-icon-addon {
  @include display(flex);
  @include border-left-radius($base-border-radius);
  @include align-items(center);

  background-color: lighten($light-gray, 7.25%);
  border: 1px solid $light-gray;
  border-right: 0;
  height: 44px;
  line-height: 44px;
  text-align: center;
  white-space: nowrap;
  width: 44px;

  i {
    @include margin(0 auto);
  }
}

.input-addon {
  @include display(flex);
  @include flex(1 1 auto);
  @include border-left-radius(0 !important);
}
