// Tabs

.tabs {
  @include display(flex);
  @include flex-wrap(wrap);

  margin-bottom: $base-spacing;
}

.tab {
  color: $medium-gray;
  font-weight: $font-semi-bold;
  margin-right: $base-spacing;

  &:hover {
    color: shade($medium-gray, 12.5%);
  }

  &.active {
    border-bottom: 1px solid $action-color;
    color: $action-color;
  }
}

.tabs-buttons {
  @extend .tabs;

  .tab {
    @include padding($small-spacing / 4 $small-spacing);

    border: 1px solid transparent;
    border-radius: $base-border-radius;
    margin-right: $small-spacing;

    &:hover {
      background-color: lighten($light-gray, 8%);
    }

    &.active {
      background-color: $action-color;
      color: $white;
    }
  }
}

.tabs-buttons-outline {
  @extend .tabs;

  .tab {
    @include padding($small-spacing / 4 $small-spacing);

    border: 1px solid $action-color;
    border-radius: $base-border-radius;
    color: $action-color;
    margin-right: $small-spacing;

    &:hover,
    &.active {
      background-color: $action-color;
      color: $white;
    }
  }
}

.vertical-tabs {
  @include flex-direction(column);

  .tab {
    margin-bottom: $small-spacing / 2;
  }
}

.tabs-content {
  margin-bottom: $small-spacing * 3;
}

.tab-content {
  display: none;

  &.active {
    display: block;
  }
}
