// Login Form

@import 'grids';
@import 'variables';


.login,
.signup {
  background-color: $action-color;
  color: $white;
  height: 100%;
  min-height: 700px;
  width: 100%;

  h1 {
    margin-bottom: $base-spacing;
  }

  a {
    color: $white;
    font-weight: $font-semi-bold;
    text-decoration: underline;

    &.logo {
      font-weight: $font-bold;
      text-decoration: none;
    }
  }

  form {
    @include padding($small-spacing * 3 $small-spacing * 3.5);
    @include grid-media($auth-grid) {
      width: 400px;
    }

    background-color: $white;
    border-radius: $base-border-radius;
    margin-bottom: $small-spacing * 1.5;
    width: 100%;

    a {
      color: $action-color;
      font-weight: $font-regular;
      text-decoration: none;

      &:hover {
        color: darken($action-color, 5%);
      }
    }

    h2 {
      color: $dark-gray;
      font-size: 1.7rem;
      margin-bottom: $small-spacing * 3;
    }

    input,
    button,
    select {
      width: 100%;
    }

    #{$all-buttons} {
      font-size: 1.05rem;
      font-weight: $font-bold;
    }
  }
}

.login-social {
  @include grid-container;
  @include margin(0 0 $small-spacing 0);

  font-weight: $font-medium;

  li {
    display: block;
    margin-bottom: $small-spacing;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: block;
    }

    @include grid-media($auth-grid) {
      @include grid-column(6);

      display: inline-flex;
      margin-bottom: 0;

      &:not(:last-child) {
        padding-right: 5px;
      }

      &:not(:first-child) {
        padding-left: 5px;
      }
    }
  }

  i {
    margin-right: $small-spacing / 2;
    vertical-align: text-bottom;
  }
}

.auth-facebook {
  @include padding($small-spacing / 1.5 $base-spacing);

  background-color: $white;
  border: 1px solid $facebook-color;
  border-radius: $base-border-radius;
  color: $facebook-color !important;
  width: 100%;

  &:hover {
    background-color: $facebook-color;
    color: $white !important;
  }
}

.auth-google-plus {
  @include padding($small-spacing / 1.5 $base-spacing);

  background-color: $white;
  border: 1px solid $google-plus-color;
  border-radius: $base-border-radius;
  color: $google-plus-color !important;
  width: 100%;

  &:hover {
    background-color: $google-plus-color;
    color: $white !important;
  }
}
