.sidebar {
  a {
    color: $medium-gray;
    display: block;
    font-weight: $font-semi-bold;
    margin-bottom: $small-spacing;

    &:hover,
    &.active {
      color: $action-color;
    }
  }

  h3 {
    margin-bottom: $base-spacing / 1.5;

    &:not(:first-child) {
      margin-top: $base-spacing;
    }
  }
}

.sidebar-option-title {
  color: $dark-gray !important;

  &:hover,
  &.active {
    color: $action-color !important;
  }
}

.sidebar-sub-option {
  font-size: .95rem;
  margin-left: $base-spacing / 1.5;
}
