table {
  border-collapse: collapse;
  // margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;

  &.striped {
    tbody {
      tr:nth-child(odd) {
        > td {
          background-color: darken($white, 2);
        }
      }

      tr:hover > td,
      tr.active {
        background-color: darken($white, 3);
      }
    }
  }

  &.auto {
    table-layout: auto;
  }
}

thead {
  line-height: $heading-line-height;
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

th {
  font-weight: 600;
}

th,
td {
  padding: $small-spacing * 1.25 $small-spacing $small-spacing * 1.25 0;
}

tr:hover > td,
tr.active {
  background-color: darken($white, 2);
}
