.examples-general-nav {
  bottom: $base-spacing;
  left: $base-spacing;
  position: fixed;

  a {
    background-color: $dark-gray;
    border-radius: 50%;
    color: $white;
    display: inline-block;
    height: 38px;
    text-align: center;
    width: 38px;

    .fa,
    .fab,
    .fas {
      line-height: 38px;
    }
  }
}

.examples-nav {
  bottom: $base-spacing;
  position: fixed;
  right: $base-spacing;

  a {
    background-color: $dark-gray;
    border-radius: 50%;
    color: $white;
    display: inline-block;
    font-size: 1.5rem;
    height: 38px;
    text-align: center;
    width: 38px;
  }
}
