@import 'grids';

.landing-page {
  section {
    @include padding($small-spacing * 7 $base-spacing);
    @include grid-media($landing-intro) {
      @include padding($small-spacing * 9 $base-spacing);
    }

    margin-bottom: 0;
  }
}

.landing-intro {
  background-color: $action-color;
  color: $white;
  position: relative;
  text-align: center;
}

.landing-intro-title {
  @include grid-media($landing-small) {
    font-size: 2.3rem;
  }

  @include grid-media($landing-intro) {
    font-size: 2.6rem;
    line-height: inherit;
    margin-bottom: 0;
  }

  font-size: 2rem;
  font-weight: $font-bold;
  line-height: 1.3;
  margin-bottom: $small-spacing;
  margin-top: $base-spacing;
}

.landing-intro-subtitle {
  @include grid-media($landing-small) {
    font-size: 1.3rem;
  }

  font-size: 1.2rem;
  font-weight: $font-semi-bold;
  margin-bottom: $small-spacing * 1.5;
}

.container-landing {
  @include margin(0 auto);
  @include padding(0);
  @include grid-media($features-small) {
    @include padding(0 $base-spacing * 2);
  }

  max-width: 1170px;
}

.logo-landing {
  @include grid-media($landing-small) {
    left: $base-spacing;
    top: $base-spacing;
  }

  font-size: $big-font-size;
  font-weight: $font-bold;
  left: $small-spacing;
  position: absolute;
  top: $small-spacing * 1.4;
}

.auth-buttons-landing {
  @include grid-media($landing-small) {
    right: $base-spacing;
    top: $base-spacing;
  }

  position: absolute;
  right: $small-spacing;
  top: $small-spacing;

  .button {
    @include padding($small-spacing);
    @include grid-media($landing-small) {
      @include padding($small-spacing $base-spacing);

      margin-right: $small-spacing / 1.5;
    }

    background-color: transparent;
    color: $white;
    margin-right: $small-spacing / 2;


    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $white;
      color: $action-color;
    }

    &.outline {
      border-color: $white;
    }
  }
}

.call-to-action {
  background-color: $white;
  border: 1px solid $white;
  color: $action-color;
  font-size: 1.2rem;
  font-weight: $font-bold;
  margin-top: $small-spacing * 1.5;
  text-transform: uppercase;

  &:hover {
    background-color: $action-color;
  }
}

.landing-features {
  @include padding($base-spacing * 2 $base-spacing * 1.5);

  @include grid-media($features-small) {
    @include padding($small-spacing * 9 $base-spacing);
  }
}

.landing-feature {
  @include grid-container;

  margin-bottom: $base-spacing * 4;

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(odd) {
    .feature-info {
      @include grid-media($features) {
        @include grid-column(7);

        padding-right: $base-spacing * 2;
      }
    }

    .feature-img {
      @include grid-media($features) {
        @include grid-column(5);

        padding-top: 0;
      }

      padding-top: $base-spacing * 2;
      text-align: center;
    }
  }

  &:nth-child(even) {
    .feature-info {
      @include grid-media($features) {
        @include grid-column(7);

        padding-left: $base-spacing * 2;
      }
    }

    .feature-img {
      @include grid-media($features) {
        @include grid-column(5);

        padding-top: 0;
      }

      padding-bottom: $base-spacing * 2;
      text-align: center;

    }
  }
}

.feature-info {
  p {
    margin-bottom: $base-spacing;
  }
}

.section-getting-started {
  @include padding($base-spacing * 2.5 0);

  background-color: $action-color;
  color: $white;
  text-align: center;

  h1 {
    @include grid-media($features-small) {
      font-size: 2rem;
    }

    font-size: 1.5rem;
  }
}
