$auth-grid: (
  columns: 12,
  gutter: 0,
  media: 500px,
);

$profile-grid: (
  columns: 12,
  gutter: 0,
  media: 635px,
);

$landing-small: (
  columns: 12,
  gutter: 0,
  media: 400px,
);

$landing-intro: (
  columns: 12,
  gutter: 0,
  media: 720px,
);

$features-small: (
  columns: 12,
  gutter: 0,
  media: 500px,
);

$features: (
  columns: 12,
  gutter: 0,
  media: 800px,
);

$medium-screen-view: (
  columns: 12,
  gutter: 0,
  media: 1250px,
);

$designup-nav: (
  columns: 12,
  gutter: 0,
  media: 850px,
);
