.profile {
  @include grid-container;
}

.profile-avatar {
  @include grid-media($profile-grid) {
    width: 30%;
  }

  display: inline-block;
  width: 100%;
}

.profile-avatar-img {
  background-position: center;
  background-size: cover;

  cursor: pointer;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.profile-info {
  @include grid-media($profile-grid) {
    margin-top: 0;
    padding-left: $base-spacing * 2;
    width: 70%;
  }

  float: right;
  margin-top: $base-spacing;
  padding-left: 0;
  vertical-align: top;
  width: 100%;
}
