html {
  color: --base-font-color;
  font-family: --base-font-family;
  font-size: 100%;
  line-height: --base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include margin(0 0 --small-spacing);

  font-family: --heading-font-family;
  font-size: modular-scale(1);
  line-height: --heading-line-height;
}

h1 { font-size: --h1-fontsize; }
h2 { font-size: --h2-fontsize; }
h3 { font-size: --h3-fontsize; }
h4 { font-size: --h4-fontsize; }
h5 { font-size: --h5-fontsize; }
h6 { font-size: --h6-fontsize; }

p {
  @include margin(0 0 --small-spacing);
}

a {
  transition: color --base-duration --base-timing;

  color: --action-color;
  text-decoration: none;
  text-decoration-skip: ink;

  &:hover {
    // color: shade($action-color, 12.5%);
    color: color(var(--action-colo) shade 12.5%);
  }
}

hr {
  @include margin(--base-spacing null);

  border-bottom: --base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

pre {
  color: --medium-gray;
}

code {
  font-size: 1rem;
}

blockquote {
  @include margin(null --small-spacing / 2);

  border-left: 5px solid --medium-gray;
  color: --medium-gray;
  padding-left: --base-spacing;
}
